/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* footer and page container format */

.page-container {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

.github-logo {
  font-size: 3rem;
  margin-left: 1rem;
  transition: transform 1s;
}

a {
  color: inherit;
}

.github-logo:hover {
  transform: rotate(1turn);
}
